{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in history %}
                <tr>
                    <td>{{ transaction.get("stock") }}</td>
                    <td>{{ transaction.get("shares") }}</td>
                    <td>${{ "{:.2f}".format(transaction.get("price")) }}</td>
                    <td>{{ transaction.get("timestamp") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
